*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
keystore.properties.asc
app/keystore.jks
app/keystore.jks.asc

