<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="pl.edu.pjwstk.s999844.shoppinglist">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:logo="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.ShoppingList">
		<activity
			android:name=".AddItemActivity"
			android:parentActivityName=".MainActivity"
			android:windowSoftInputMode="stateAlwaysVisible">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="@string/shareHost"
					android:pathPrefix="@string/sharePath"
					android:scheme="@string/shareScheme" />
			</intent-filter>
		</activity>
		<activity
			android:name=".OptionsActivity"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".MainActivity"
			android:logo="@drawable/ic_trash"
			android:theme="@style/Theme.ShoppingList.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>