<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2021-2021  Sebastian Göls
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; version 2 of the License only
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="pl.edu.pjwstk.s999844.shoppinglist">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:logo="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.ShoppingList">
		<activity
			android:name=".AddItemActivity"
			android:exported="true"
			android:parentActivityName=".MainActivity"
			android:windowSoftInputMode="stateAlwaysVisible">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="@string/shareHost"
					android:pathPrefix="@string/sharePath"
					android:scheme="@string/shareScheme" />
			</intent-filter>
		</activity>
		<activity
			android:name=".OptionsActivity"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:theme="@style/Theme.ShoppingList.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
